In [20]:
import requests
from bs4 import BeautifulSoup
import json 
import csv
import numpy as np

In [64]:
class scrapper :
  result = list()
  def fetch(self,url):
    print(f"get request to url :{url}")
    responce = requests.get(url)
    return responce

  def parse(self, html):
    content = BeautifulSoup(html, 'lxml') 

    titles = [title.text.strip() for  title in content.find_all('h2',{"class":"propertyCard-title"})]
    addresses = [address.text.strip() for  address in content.find_all("address",{"class":"propertyCard-address"})]
    descriptions  = [descripe.text.strip() for descripe in content.find_all("div",{"class":"propertyCard-description"})]
    images = [image["src"] for image in content.find_all("img",{"itemprop":"image"})]
    sellers = [seller.text.split("by")[1] for seller in content.find_all("span",{"class":"propertyCard-branchSummary-branchName"})]
    dates = [date.text.split("on")[-1] for date in content.find_all("span",{"class":"propertyCard-branchSummary-addedOrReduced"})]

    for idx in range(len(titles)):
       self.result.append({
          "titles":titles[idx],
          "addresses":addresses[idx],
          "descriptions":descriptions[idx],
          "sellers":sellers[idx],
          "dates":dates[idx],
          "images":images[idx],
       })

  def to_csv(self):
    with open("result.csv","w") as csvfile:
      writer = csv.DictWriter(csvfile, fieldnames= self.result[0].keys() )
      writer.writeheader()
      for row in self.result:
        writer.writerow(row)
      print("stored")  
  
  def run(self):
    for page in range(5):
      i = page * 24
      url = "https://www.rightmove.co.uk/property-for-sale/find.html?locationIdentifier=REGION%5E93917&index=" +str(i) +  "&propertyTypes=&mustHave=&dontShow=&furnishTypes=&keywords="
      responce = self.fetch(url)
      html = responce.text
      self.parse(html)
    self.to_csv()   
    
if __name__ =="__main__":
  scrape = scrapper()
  scrape.run()

get request to url :https://www.rightmove.co.uk/property-for-sale/find.html?locationIdentifier=REGION%5E93917&index=0&propertyTypes=&mustHave=&dontShow=&furnishTypes=&keywords=
get request to url :https://www.rightmove.co.uk/property-for-sale/find.html?locationIdentifier=REGION%5E93917&index=24&propertyTypes=&mustHave=&dontShow=&furnishTypes=&keywords=
get request to url :https://www.rightmove.co.uk/property-for-sale/find.html?locationIdentifier=REGION%5E93917&index=48&propertyTypes=&mustHave=&dontShow=&furnishTypes=&keywords=
get request to url :https://www.rightmove.co.uk/property-for-sale/find.html?locationIdentifier=REGION%5E93917&index=72&propertyTypes=&mustHave=&dontShow=&furnishTypes=&keywords=
get request to url :https://www.rightmove.co.uk/property-for-sale/find.html?locationIdentifier=REGION%5E93917&index=96&propertyTypes=&mustHave=&dontShow=&furnishTypes=&keywords=
stored

In [65]:
import pandas as pd
df = pd.read_csv("result.csv")
df.head()

,titles,addresses,descriptions,sellers,dates,images
0,2 bedroom apartment for sale,"Old Brompton Road, London",This is an exquisite two bedroom apartment in ...,"Barnard Marcus, Earls Court",24/02/2023,https://media.rightmove.co.uk:443/dir/crop/10:...
1,5 bedroom apartment for sale,"One Hyde Park, Knightsbridge",An exceptional exclusive five bedroom apartmen...,"The Cloister, London",22/12/2022,https://media.rightmove.co.uk:443/dir/crop/10:...
2,12 bedroom house for sale,"Mayfair Freehold House, Park Lane Area, W1K",This stunning 12 bedroom (including 3 staff be...,"Luxury Living Homes International, London",31/12/2022,NaN
3,7 bedroom house for sale,"Lygon Place, Belgravia, SW1W",Ref. LOB0798 - Set behind a gated Belgravia dr...,"Beauchamp Estates Ltd, Mayfair - Resale",21/11/2022,https://media.rightmove.co.uk:443/dir/crop/10:...
4,6 bedroom house for sale,"Pitt Street, Kensington, W8",Ref. LOB0625 - This striking and unique house ...,"Beauchamp Estates Ltd, Mayfair - Resale",21/02/2023,https://media.rightmove.co.uk:443/dir/crop/10:...

To just save an html file to read from it

In [ ]:
'''responce   =requests.get("https://www.rightmove.co.uk/property-for-sale/find.html?locationIdentifier=REGION%5E93917&index=0&propertyTypes=&mustHave=&dontShow=&furnishTypes=&keywords=")
with open('res.html','w') as html_file:
    html_file.write(responce.text) '''

Then use The htmlfile to take date from

In [ ]:
'''html = ''
with open('res.html','r') as html_file:
      for line in html_file:
         html += html_file.read()
         self.parse(html)
    self.to_csv()   '''